{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <title>Bienvenido al 1er Congreso Nacional de Geomática</title>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'> !-->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/carousel.css" %}">
    <!--<link rel="stylesheet" type="text/css" href="http://www.cpdi.fii.gob.ve/css/miestilo.css"> !-->
    <link rel="stylesheet" href="{% static "css/landing.css" %}"/>
    <link rel="stylesheet" href="{% static "css/alertify.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/themes/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/miestilo.css" %}"/>
    <script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
    <script src="{% static "js/alertify.min.js" %}"/></script>
</head>
<body>
<div class="row">
    <img src="{% static 'images/slide_congreso_geomatica_xl.jpg' %}" class"img-responsive" alt="1er Congreso Nacional de Geomática" style="max-width:100%" />
</div>
{% include "include/menu_organizador.html" %}

<script type="text/javascript">
$(document).ready(function(){
    $(document).scroll(function(){
        if($(window).scrollTop()>640){
            $("#barramenu").removeClass("navbar-static-top");
            $("#barramenu").addClass("navbar-fixed-top");
        } else {
            $("#barramenu").removeClass("navbar-fixed-top");
            $("#barramenu").addClass("navbar-static-top");
        }
    })
});
</script>