{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <title>Bienvenido al 1er Congreso Nacional de Geomática</title>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'> !-->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/carousel.css" %}">
    <!--<link rel="stylesheet" type="text/css" href="http://www.cpdi.fii.gob.ve/css/miestilo.css"> !-->
    <link rel="stylesheet" href="{% static "css/landing.css" %}"/>
    <link rel="stylesheet" href="{% static "css/alertify.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/themes/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/miestilo.css" %}"/>
    <script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
    <script src="{% static "js/alertify.min.js" %}"/></script>
</head>
<body>
<header class="hidden-xs hidden-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static "images/cintillo_gobierno.png" %}" alt="cintillo gobierno" style="float:left;">
                <img src="{% static "images/logo_pueblo_victorioso.png" %}" alt="logo pueblo victorioso" style="float:right;">
            </div>
        </div>
    </div>
</header>
<div class="row">
    <img src="{% static 'images/slide_congreso_geomatica_xl.jpg' %}" class"img-responsive" alt="1er Congreso Nacional de Geomática" style="max-width:100%" />
</div>