{% load static %}
<hr>
<div class="row" style="margin-bottom:30px;">
	<nav id="enlaces" class="col-md-5">
		<center>
			<h2>Enlaces Institucionales</h2>
			<a href="http://www.gobiernoenlinea.gob.ve" target="_blank"><img class="img-thumbnail" src="{% static "images/enlace_gobierno.jpg" %}" alt="Gobierno en línea"></a>
			<a href="http://www.mcti.gob.ve" target="_blank"><img class="img-thumbnail" src="{% static "images/enlace_mcti.jpg" %}" alt="MppCTI"></a>
			<a href="http://www.minamb.gob.ve" target="_blank"><img class="img-thumbnail" src="{% static "images/enlace_minamb.jpg" %}" alt="MINAMB"></a>
			<a href="http://www.igvsb.gob.ve" target="_blank"><img class="img-thumbnail" src="{% static "images/enlace_igvsb.jpg" %}" alt="IGVSB"></a>
			<a href="http://www.abae.gob.ve" target="_blank"><img class="img-thumbnail" src="{% static "images/enlace_abae.jpg" %}" alt="ABAE"></a>
			<a href="http://www.funvisis.gob.ve" target="_blank"><img class="img-thumbnail" src="{% static "images/enlace_funvisis.jpg" %}" alt="FUNVISIS"></a>
			<a href="http://www.inameh.gob.ve" target="_blank"><img class="img-thumbnail" src="{% static "images/enlace_inameh.jpg" %}" alt="INAMEH"></a>
			<a href="http://www.cenatel.inia.gob.ve/" target="_blank"><img class="img-thumbnail" src="{% static "images/enlace_cenatel.jpg" %}" alt="CENATEL"></a>
		</center>
	</nav>
	<div class="col-md-7">
		<img src="{% static "images/banner_juventud.jpg" %}" alt="Banner Juventud Bicentenaria" class="img-responsive" style="margin-top:70px;">
	</div>
</div>

<footer id="mainfooter">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<center>
					<h5>
						©2014. <a href="http://www.fii.gob.ve" target="_blank">Fundación Instituto de Ingeniería para Investigación y Desarrollo Tecnológico (<abbr title="Fundación Instituto de Ingeniería para Investigación y Desarrollo Tecnológico">FIIIDT</abbr>)</a> — RIF G200046503<br>
						Centro de Procesamiento Digital de Imágenes (<abbr title="Centro de Procesamiento Digital de Imágenes">CPDI</abbr>)
					</h5>
				</center>	
			</div>
		</div>
	</div>
</footer>
<script src="{% static "js/csrf_ajax.js" %}"></script>

</body>
</html>