{% load static %}
<nav id="mainmenu">
    <!-- Static navbar -->
    <div id="barramenu" class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logomenu" src="{% static 'images/logo_fiiidt_web.png' %}" alt="cintillo gobierno">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/organizadores">Inicio</a></li>
                    <li id="li_participantes"><a href="/organizadores/participantes">Participantes</a></li>
                    <li id="li_trabajos"><a href="/organizadores/trabajos">Trabajos</a></li>
<!--       boton para los organizadores  participa en la jornadas  
                    <li id="li_panel_organizador"><a href="/panel/">Entrar al panel</a></li> -->

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#"><img class="iconmenu" src="/img/icon_twitter.png" alt="twitter @cpdi_fii"></a></li>-->
                    <li>
                        <a href="/logout">Salir</a></li>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div> 
</nav>