{% load static %}
<nav id="mainmenu">
    <!-- Static navbar -->
    <div id="barramenu" class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logomenu" src="{% static 'images/logo_fiiidt_web.png' %}" alt="cintillo gobierno">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Inicio</a></li>
                    <li id="li_panel"><a href="/panel">Panel</a></li>
                    <li id="li_taller"><a href="/talleres">Talleres</a></li>
                    {% if inf_trabajo %}
                    <li id="li_papers"><a href="/trabajos">Papers</a></li>
                    {% endif %}
<!--         boton para los organizadores  participa en la jornadas      
                    {% if user_groups == 1 %}
                    <li id="li_papers"><a href="/organizadores">Entrar al organizador</a></li>
                    {% endif %} -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#"><img class="iconmenu" src="/img/icon_twitter.png" alt="twitter @cpdi_fii"></a></li>-->
                    <li>
                        <a href="/logout">Salir</a></li>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div> 
</nav>