@font-face{font-family:'iconic';src:url("../fuentes/glyphicons-halflings-regular.eot");src:url("../fuentes/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'),url("../fuentes/glyphicons-halflings-regular.woff") format('woff'),url("../fuentes/glyphicons-halflings-regular.ttf") format('truetype'),url("../fuentes/glyphicons-halflings-regular.svg#glyphicons-halflings-regular") format('svg');font-weight:normal;font-style:normal}
@font-face {font-family: 'Muli';src: url('../fuentes/Muli-Regular.ttf') format('truetype'), url('../fuentes/Muli-Italic.ttf') format('truetype'), url('../fuentes/Muli-Light.ttf') format('truetype'), url('../fuentes/Muli-LightItalic.ttf') format('truetype');}
@font-face {font-family: 'Harabara';  src: url('../fuentes/harabara.ttf') format('truetype');}
[class*="icon-"]:before{font-family:'iconic';speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-user:before{content:"\e008"}
.icon-at:before{content:"\2709"}
.icon-tags:before{content:"\e042"}
.icon-check:before{content:"\e013"}
.icon-institucion:before{content:"\e137"}
.icon-cargo:before{content:"\e139"}
.icon-telefono:before{content:"\e182"}
.icon-lock:before{content:"\e033"}
*{margin:0}
body{background:#fff;font-family:'Muli',sans-serif;font-size:16px;font-weight:300}
h1, h2 { font-family: "Harabara"; letter-spacing:1px; color: #C6346D; }
h3 {color: #01AEF0;}
.clearfix,.conferencias .header-conf:after{display:block;clear:both;content:""}
.imagen img{vertical-align:top}
.contenedor{max-width:960px;margin:0 auto; padding: 40px;}
.header{background:url("../images/header_congreso.jpg") center;color:#fff;padding:50px 0 50px 0;position:relative;text-align:center;}
.header h1{font-size:58px;line-height:58px;margin-bottom:20px;}
.header h1 span{display:block;font-size:42px;font-weight:300;text-transform:uppercase}
.header .contenido{max-width:420px;margin:0 auto; min-height:350px;}
.header .texto{font-size:17px;font-weight:300}
.header .degradado{background:-webkit-gradient(linear, left top, left bottom, color-stop(0.65, rgba(255,255,255,0)), color-stop(0.99, #fff), color-stop(0.99, rgba(255,255,255,0)));background:-webkit-linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);background:-moz-linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);background:-o-linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);background:-ms-linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);background:linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);position:absolute;left:0;right:0;top:0;bottom:0}
.invitacion{margin:0 auto;margin-top:10px;text-align:center;}
.invitacion.finish{margin:10px 0;font-size:30px}
.invitacion form{display:inline-block}
.invitacion input::-moz-placeholder{color: #fff;}
.invitacion .titulo{color:#0c5e83;font-size:13px;font-weight:700;text-align:center;text-transform:uppercase}
.invitacion .contForm1{background:rgba(0,0,0,0.1);border-radius:30px;padding:10px; margin-bottom: 10px;overflow:hidden}
.invitacion .name,.invitacion .mail, .invitacion .tipo{float:left;/*width:300px;*/padding:5px 5px 5px 40px;position:relative; height: 42px;}
.invitacion .name:before,.invitacion .mail:before,.invitacion .tipo:before{color:#a3c4d7;font-size:18px;left:15px;position:absolute;top:10px}
.invitacion .name{background:#0E71B4;border-radius:20px 0 0 20px;}
.invitacion .pass{background:#0E71B4;border-radius:20px;}
.invitacion .pass input{background:#01AEF0}
.invitacion .pass{padding:5px 40px 5px 40px;position:relative;}
.invitacion .name input{background:#01AEF0; color: #fff;}
.invitacion .mail{background:#0E71B4;border-radius:0;}
.invitacion .tipo{background:#0E71B4;border-radius:0 20px 20px 0; padding: 5px 20px 5px 40px;}
.invitacion .mail:before{left:10px}
.invitacion .mail input{background:#01AEF0; color: #fff;}
.invitacion .tipo input{background:#01AEF0; color: #fff;}
.invitacion .tipo select{background:#01AEF0; color: #fff;}
.invitacion .submit{color:#fff;float:left;position:relative;width:50px;}
.invitacion .submit:before{color:#a3c4d7;font-size:18px;left:15px;position:absolute;top:10px}
.invitacion .submit input{background:#0E71B4;border-radius:0 20px 20px 0;cursor:pointer;line-height:40px;font-size:0}
.btn-default2{background:#0E71B4;border-radius:20px;padding: 5px 20px; cursor:pointer;line-height:28px;color:#fff;font-weight: bold}
.btn-default2:hover{color:#fff;}
.invitacion input{border:none;box-sizing:border-box;color:#fff;font-size:17px;line-height:30px;outline:0;padding-left:10px;width:100%}
.invitacion select{border:none;box-sizing:border-box;color:#fff;font-size:17px;height:32px;outline:0;padding-left:10px;width:100%}
.invitacion input::-webkit-input-placeholder{color:#fff}
.escenarios{margin-top:50px;text-align:center;}
.escenarios p{color:#898989;font-size:17px}
.escenarios .escenario{margin:0 auto;padding:10px;max-width:960px;position:relative;text-align:center;}
.escenarios .escenario.active:after{border-bottom:10px solid #eaeaea;border-left:10px solid transparent;border-right:10px solid transparent;bottom:0;content:"";left:50%;position:absolute}
.escenarios .escenario .nombre{color:#0b64ad;font-size:20px;text-transform:uppercase}
.escenarios .escenario .imagen{margin:10px 0;}
.escenarios .escenario .imagen img{max-width:328px}
.escenarios .escenario .texto{margin-top:20px}
.escenarios .escenario .slogan{color:#1080c4;font-size:18px;font-style:italic;font-weight:300}
.escenarios .escenario .vermas{background:#fff;color:#1080c4;display:inline-block;font-size:15px;position:relative;text-decoration:none;padding:5px 15px;font-style:italic;}
.escenarios .escenario .vermas:after{border-bottom:1px solid #1080c4;content:"";left:100%;position:absolute;top:16.5px;display:block;width:50px}
.escenarios .escenario .vermas:before{border-bottom:1px solid #1080c4;content:"";right:100%;position:absolute;top:16.5px;display:block;width:50px}
.conferencias{background:#eaeaea;text-align:center;}
.conferencias .header-conf{margin-bottom:10px;}
.conferencias .conferencia{display:inline-block;font-style:italic;margin:20px;text-align:left;vertical-align:top;max-width:400px;}
.conferencias .conferencia .imagen{float:left}
.conferencias .conferencia .nombre{float:left;margin-left:15px;height:60px;position:relative;}
.conferencias .conferencia .nombre:after{display:block;content:"";height:2px;background:-webkit-gradient(linear, left top, right top, color-stop(0, #fedf4c), color-stop(0.55, #fedf4c), color-stop(0.55, #1174f6), color-stop(0.77, #1174f6), color-stop(0.77, #e92019));background:-webkit-linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);background:-moz-linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);background:-o-linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);background:-ms-linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);background:linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);position:absolute;bottom:0;width:100%}
.conferencias .conferencia .nombre p{color:#1080c4}
.conferencias .conferencia .descripcion{font-size:16px;color:#898989}
@media screen and (max-width:900px){
.invitacion form{display:block}
.invitacion .icon-at, .invitacion .icon-lock {float: none; color: #fff; display: block;}
.invitacion .name, .invitacion .mail, .invitacion .tipo, .invitacion .pass{width:auto;float:none}
.invitacion .name, .invitacion .mail, .invitacion .tipo, .invitacion .pass{border-radius:20px 20px 20px 20px; padding: 5px 40px 5px 40px; margin: 10px;}
.invitacion .submit{width:100px;margin:10px auto;float:none;}
.invitacion .submit:before{display:none}
.invitacion .submit input{font-size:16px;border-radius:20px;text-transform:uppercase}
.invitacion .contForm1{border-radius:0}
}