@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.ttf') format('truetype'), url('../fonts/Muli-Italic.ttf') format('truetype'), url('../fonts/Muli-Light.ttf') format('truetype'), url('../fonts/Muli-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Harabara';
  src: url('../fonts/harabara.ttf') format('truetype');
}

body{ font-family:'Muli';}
h1, h2 { font-family: "Harabara"; letter-spacing:1px; color: #C6346D; }
h5 { font-weight: bold; }

div.carousel-caption h2, div.carousel-caption h3, div.carousel-caption h4, div.jumbotron h2 { color: #FFF; text-shadow: 1px 1px 4px #000; }

.btn-default {
  color: #01AEF0;
  background-color: #fff;
  border-color: #ccc;
  text-decoration: none;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #C6346D;
  background-color: #ebebeb;
  border-color: #adadad;
  text-decoration: none;
}

a, a:visited { color: #01aef0; text-decoration: none; }
a:hover { color: #c6346d; text-decoration: none; }

div.jumbotron { border-radius: 6px; margin: 30px 0; color: #FFFFFF; background-color: #01AEF0; }
div.jumbotron .nav-pills li a, div.jumbotron .nav-pills li a:visited { color: #FFF; background-color: #01AEF0; }
div.jumbotron .nav-pills li a:hover { background-color: #FFF; color: #01AEF0; }
div.jumbotron a, div.jumbotron a:visited { color:#FFF; }
div.jumbotron a:hover { color: #C6346D; text-decoration: none; }
div.jumbotron h3 { color: #FFF; }
div.jumbotron h3 small { color: #CCC; }
div.jumbotron h2 span.label-default {
	color: #01AEF0;
	background-color: #FFF;
	text-shadow: none;
	box-shadow: 1px 1px 4px #000;
	padding:0 5px;
}

header{
	height:56px;
	border-bottom:#ED1C29 solid 4px;
}
header img{
	height:50px;
}

img.logomenu{
	height:40px;
	margin:5px 10px 0 0;
}
img.iconmenu{
	height:18px;
}

article.resumen { height: 250px; }

a:visited.btn { color: #FFF; }

hr {
	margin: 30px 0;
	border: 0;
	border-bottom: 1px solid #CCC;
}

h3 { color: #01AEF0; }

div.rowgris{ background-color: #F5F5F5; padding: 50px; margin-top: 30px; }

div.panel-heading { font-weight: bold; }
div.panel-body { /*height: 120px;*/ overflow: auto; }

.box_grad_gris {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
	background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(top,  #f5f5f5 0%, #ffffff 10%, #ffffff 90%, #f5f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(10%,#ffffff), color-stop(90%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f5f5f5 0%,#ffffff 10%,#ffffff 90%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f5f5f5 0%,#ffffff 10%,#ffffff 90%,#f5f5f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f5f5f5 0%,#ffffff 10%,#ffffff 90%,#f5f5f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f5f5f5 0%,#ffffff 10%,#ffffff 90%,#f5f5f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */

}
nav#enlaces a img { max-height: 90px; margin: 5px; }

footer#mainfooter{
	background-color:#222;
	color:#01aef0;
	padding:30px 0;
	border-top:4px solid #01aef0;
}
footer#mainfooter h4 { color: #FFF; font-family: "Harabara"; letter-spacing:0.1em; }
footer#mainfooter a, footer#mainfooter a:visited { color: #01aef0; text-decoration: none; }
footer#mainfooter a:hover { color: #FFF; text-decoration: none;}
footer#mainfooter a.btn { color: #FFF; margin-top: 10px; }
footer#mainfooter hr {
	margin:20px 0;
	border:0;
	border-bottom: 1px solid #999;
}

a div.box_verde{
	background-color: #5CB85C;
	padding: 15px;
	border-radius: 6px;
	color: #FFF;
	text-align:center;
}
a:hover div.box_verde{
	background-color: #47a447;
}
a div.box_verde h3, a:visited div.box_verde h3 { color: #FFF; opacity: 0.75; text-decoration: none; }
a:hover div.box_verde h3 { color: #FFF; opacity: 1; }

div#calendario_cursos blockquote{ font-size:14px;}

.shadow{
	-webkit-box-shadow: 0 0 4px 2px #999999;
	box-shadow: 0 0 4px 2px #999999;
}

div.icontitle {	display:flex; align-items:center; }
div.icontitle img { max-height:64px; margin:10px; }

div.cursos_contenido span.label-default { background-color:#e74c3c; }
div.atencion img { max-height:64px; }

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #999;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #999;
}
.navbar-inverse .navbar-nav > li > a {
  color: #01aef0;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  
  text-shadow: 1px 1px 2px #000000;
  
  background: #ed1c29; /* Old browsers */
background: -moz-linear-gradient(top,  #ed1c29 0%, #ed1c29 50%, #a6141d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed1c29), color-stop(50%,#ed1c29), color-stop(100%,#a6141d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ed1c29 0%,#ed1c29 50%,#a6141d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ed1c29 0%,#ed1c29 50%,#a6141d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ed1c29 0%,#ed1c29 50%,#a6141d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ed1c29 0%,#ed1c29 50%,#a6141d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c29', endColorstr='#a6141d',GradientType=0 ); /* IE6-9 */

}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  
  background: #ed1c29; /* Old browsers */
background: -moz-linear-gradient(top,  #ed1c29 0%, #ed1c29 50%, #a6141d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed1c29), color-stop(50%,#ed1c29), color-stop(100%,#a6141d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ed1c29 0%,#ed1c29 50%,#a6141d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ed1c29 0%,#ed1c29 50%,#a6141d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ed1c29 0%,#ed1c29 50%,#a6141d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ed1c29 0%,#ed1c29 50%,#a6141d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c29', endColorstr='#a6141d',GradientType=0 ); /* IE6-9 */

}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #999;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}



.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #FFF;
  text-decoration: none;
  background-color: #01aef0;
}