{% load static %}
{% include "include/base_user.html" %}

<div class="row">&nbsp;</div>

<form action="{% url "agregartaller" %}" method="post" class="form-inline form">
    {% csrf_token %} 
<section class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Talleres</h3></div> 
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item text-left"><strong>Titulo:</strong>
                    <input class="form-control" type="text" name="titulo" id="titulo">
                </li>
                <li class="list-group-item text-left"><strong>Descripción:</strong>
                    <textarea class="form-control" cols="60" id="descripcion" name="descripcion"></textarea>
                </li>
                <li class="list-group-item text-left"><strong>Facilitador:</strong>
                    <input class="form-control" type="text" name="facilitador" id="facilitador">
                </li>
                <li class="list-group-item text-left"><strong>Horario:</strong>
                    <input class="form-control" type="text" name="horario" id="horario">
                </li>
                <li class="list-group-item text-left"><strong>Cupos:</strong> 
                    <input class="form-control" type="text" name="cupos" id="cupos">
                </li>
            </ul>
    </div>
<input class="btn btn-primary btn-lg btn-block" type="submit" id="agregar" name="agregar" value="Agregar taller">
</section>
</form>

<div class="row">&nbsp;</div>

<script src="{% static "js/jquery.numeric.js" %}"> </script>
<script language="javascript"  type="text/javascript">
$(document).ready(function(){
    $('#cupos').numeric();

    $('#enviar').on('click',function(e){
        var titulo = $('#titulo').val();
        var descripcion = $('#descripcion').val();
        var facilitador = $('#facilitador').val();
        var horario = $('#horario').val();
        var cupos = $('#cupos').val();

        if (titulo == false){
            alertify.error('Debe ingresar el titulo del trabajo'); 
            e.preventDefault();
        }  
        if (descripcion == false){
            alertify.error('Debe ingresar un descripción'); 
            e.preventDefault();
        }
        if (facilitador == false){
            alertify.error('Debe ingresar un facilitador'); 
            e.preventDefault();
        }
        if (horario == false){
            alertify.error('Debe ingresar un horario'); 
            e.preventDefault();
        }
        if (cupos == false){
            alertify.error('Debe ingresar cupos'); 
            e.preventDefault();
        }


    });

});
</script>

{% include "include/end.html" %}