{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% get_static_prefix as STATIC_PREFIX %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <title>Bienvenido al 1er Congreso Nacional de Geomática</title>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'> !-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/carousel.css">
    <!--<link rel="stylesheet" type="text/css" href="http://www.cpdi.fii.gob.ve/css/miestilo.css"> !-->
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/landing.css"/>
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/alertify.min.css"/>
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/themes/bootstrap.css"/>
</head>
<body>
<div class="row">&nbsp;</div>
{% if name %}
<section class="container">
    <section class="invitacion">
        <h2>Bienvenido {{ name }}. <span class="text-muted">Completa tu inscripción</span></h2>
        <form action="{% url 'registro' %}" method="post" class="form-inline formulario1">
            {% csrf_token %}
            <div class="contForm1">
                <div class="contForm2">
                    <div class="form-group">
                        <input type="hidden" name='email' value="{{email}}">
                        <input type="hidden" name='name' value="{{name}}">
                        <input type="hidden" name='tipo_participante' value="{{tipo_participante}}">
                        <div class="name icon-institucion">
                            {{form.institucion}}
                        </div>

                        <div class="mail icon-cargo">
                            {{form.cargo}}
                        </div>

                        <div class="tipo icon-telefono">
                            {{form.tlf_movil}}
                        </div>
                        <button type="submit" class="btn btn-default2" aria-label="Left Align">
                            <span class="glyphicon glyphicon-align-left icon-check" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    <div class="row">&nbsp;</div>
    </section>
</section>
{% endif %}
<script src="{{STATIC_PREFIX}}js/jquery-2.0.3.min.js"></script>
<script src="{{STATIC_PREFIX}}js/alertify.min.js"/>
<script src="{{STATIC_PREFIX}}js/csrf_ajax.js"></script>
<script type="text/javascript">
$(function(){

    $('.formulario').on('submit',function(e){
        e.preventDefault();
        var $form = $(this),
            url = $form.attr('action');
            data = $form.serialize();
        $.post(url,data,function(data, textStatus, response){
            $('.invitacion').text('Gracias por registrarte '+data.name).addClass('finish');
        })
        .fail(function(data, textStatus, response) {
            //console.log(data);
            var respuesta = $.makeArray( data.responseJSON );
            $.map( data.responseJSON, function( val, key) {
                console.log(key+": "+val.toString());
                var campo = "";
                if(key == "name") campo = "Nombre: ";
                if(key == "tipo_participante") campo = "Tipo de participante: ";
                if(key == "email") campo = "Email: ";
                if(key == "institucion") campo = "Institucion: ";
                if(key == "cargo") campo = "Cargo: ";
                if(key == "tlf_movil") campo = "Teléfono: ";
                alertify.error(campo+val.toString());
            });
            //texto = JSON.stringify(data.responseJSON.email).replace(',', ', ').replace('[', '').replace(']', '');
            
            //alert(data.responseJSON.email);
            
            //console.log(data.responseText);
        });
    });

});
</script>
</body>
</html>