{% load static %}
<!doctype html>
<html lang="es">
<head>
    
</head>
<body>
{% include "include/base.html" %}

<div class="row">&nbsp;</div>
<div class="container">
<div class="text-center">   
{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>

{% elif msj %}
<div class="alert alert-{{tipo}}" role="alert">
    {{msj}}
</div>
<a href="{% url 'panel' %}" class="btn btn-primary">Acceder al panel de usuario</a>
{% else %}
<div class="col-md-6">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Datos del Participante</h3></div> 
            <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item text-left"><strong>Nombre y Apellido:</strong> {{ name }} </li>
            <li class="list-group-item text-left"><strong>Correo Electronico:</strong> {{ email }} <br>
            <li class="list-group-item text-left"><strong>Tipo de Participación:</strong> {{ tipo_participante }}</li>
            <li class="list-group-item text-left"><strong>Institución:</strong> {{ institucion }} </li>
            <li class="list-group-item text-left"><strong>Cargo:</strong> {{ cargo }} </li>
            <li class="list-group-item text-left"><strong>Telefono:</strong> {{ tlf_movil }} </li>
        </ul>
    </div>        
</div>


<div class="col-md-6">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Para Confirmar el Registro debe Ingresar una Contraseña</h3></div> 
        <div class="panel-body">
            <form action="{% url "confirmar" %}" method="post" class="form-inline formulario">
            {% csrf_token %}
            <input type="hidden" value="{{token}}" name="token">
            <input type="hidden" value="2" name="group_id">
            <section class="invitacion">
                <div class="contForm1">
                    <div class="form-group">
                        <div class="pass icon-lock">       
                            <input class="form-control" type="password" id="password1" name="password1" placeholder="Contraseña">
                        </div>
                    </div>
                </div>

                <div class="contForm1">
                    <div class="form-group">
                        <div class="pass icon-lock">  
                            <input class="form-control" type="password" id="password2" name="password2" placeholder="Confirmar contraseña">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default2" aria-label="Left Align" id="confirmar">
                    Enviar
                </button>
            </section>
            </form>
        </div>

    </div>        
</div>

</div>

</div>
{% endif %}
</div>
<div class="row">&nbsp;</div>
<script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "js/alertify.min.js" %}"/></script>
<script language="javascript"  type="text/javascript">
$(document).ready(function(){

    $('#confirmar').on('click',function(e){
        //e.preventDefault();
        var password1 = $('#password1').val();
        var password2 = $('#password2').val();

        if ((password1==false) || (password2==false)){

            if (password1==false){
               alertify.error('Debe ingresar un contraseña'); 
               e.preventDefault();
            }

            if (password2==false){
               alertify.error('Es obligatorio confirmar la contraseña'); 
               e.preventDefault();
            }

        }else{

            if (password1!=password2){
              alertify.error('Las contraseñas no coinciden');   
              e.preventDefault();
            }
        }   
    });
});
</script>
</body>
</html>