{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% include "include/base.html" %}
<form action="{% url 'inicio' %}" method="post" class="form-inline formulario">
    {% csrf_token %}
<div class="row">
    <div class="container" id="capa_form">
        <div class="invitacion">
            <h2>Inscripciones Abiertas</h2>
            <div class="contForm1">

                <div class="form-group">
                    <div class="name icon-user">
                        {{form.name}}
                    </div>

                    <div class="mail icon-at">
                        {{form.email}}
                    </div>

                    <div class="tipo icon-tags">
                        {{form.tipo_participante}}
                    </div>

                </div>

            </div>
        
            <div class="contForm1">

                <div class="form-group">
                    <div class="name icon-institucion">
                        {{form.institucion}}
                    </div>
                    <div class="mail icon-cargo">
                        {{form.cargo}}
                    </div>

                    <div class="tipo icon-telefono">
                        {{form.tlf_movil}}
                    </div>
                </div>
                    
            </div>
            <button type="submit" class="btn btn-primary btn-lg" aria-label="Left Align">
                Registrarse
            </button>
            <a class="btn btn-primary btn-lg" href="/panel" target="_self">Ya estoy registrado</a>
        </div>
    </div>
</div>
</form>
<div class="row">&nbsp;</div>

<div class="jumbotron">
    <article>
        <h2>Invitación</h2>
        <p>El Comité Organizador invita a la comunidad científica, académica, profesionales, estudiantes y usuarios a participar en el 1er Congreso Nacional de Geomática, el cual se realizará en la ciudad de Caracas entre los días 26 y 31 de octubre de 2015. El objetivo es divulgar los avances de la Geomática, así como sus recientes aplicaciones para el desarrollo de nuestro país.</p>
    </article>
</div>
<div class="container">
    <div class="col-md-4">
        <article>
            <h3>Líneas temáticas</h3>
            <ul class="lead">
                <li>Investigación, Desarrollo e Innovación.</li>
                <li>Educación y Formación.</li>
                <li>Planificación Territorial.</li>
                <li>Ambiente y Sociedad.</li>
                <li>Poder Popular.</li>
            </ul>
        </article>
    </div>
    <div class="col-md-4">
        <article>
            <h3>Fechas importantes</h3>
            <ul>
                <li><b>Convocatoria y llamado a trabajos:</b><br>01 de febrero al 15 de julio de 2015.</li><br>
                <li><b>Recepción de trabajos in extenso:</b><br>15 de febrero al 15 de agosto de 2015.</li><br>
                <li><b>Notificación de trabajos aprobados:</b><br>30 de agosto al 06 de septiembre de 2015.</li>
            </ul>
        </article>
        
    </div>
    <div class="col-md-4">
        <article>
            <h3>Costos</h3>
            <ul>
                <li><b>General:</b> Bs. 500</li><br>
                <li><b>Estudiante:</b> Bs. 200</li><br>
            </ul>
            <p>El pago debe realizarse mediante transferencia o depósito a los siguientes Bancos:</p>
            <p><strong>Banco del Tesoro</strong>, Cuenta Corriente <br>#0163-0903-68-9033002818</p>
            <p><strong>Banco de Venezuela</strong>, Cuenta Corriente <br>#0102-0552-21-0000059899</p>
            <p>A nombre de:<br/>
            <strong>FUNDACIÓN INSTITUTO DE INGENIERIA</strong><br/>
            RIF: G200046503</p>
        </article>
        <article>
            <h3>Participa enviando tu trabajo</h3>
            <p>Si quieres participar como ponente, es hora de dar a conocer tu trabajo.</p>
            <p>Descárgate el formato y envíanos tu trabajo al correo electrónico:<br><span class="glyphicon glyphicon-envelope"></span> congresogeomatica@gmail.com</p>
            <p class="text-center"><a class="btn btn-success" href="http://www.cpdi.fii.gob.ve/files/congresogeomatica/formato_trabajos.doc" target="_blank">Descárgate el formato <span class="glyphicon glyphicon-download"></span></a></p>
        </article>
    </div>
</div>
    
{% for scenario in scenarios %}
<article class="escenario jumbotron">
    <h2 class="nombre">
        {{scenario.titulo}}.
        <span class="text-muted">Facilitador: {{scenario.facilitador}}</span>
    </h2>
    <div class="row">
        <div class="col-md-3">
            <img src="{{MEDIA_PREFIX}}{{scenario.image}}" alt="{{scenario.titulo}}" class="img-responsive">
        </div>
        <div class="col-md-9">
        <p>
            {{scenario.descripcion}}
        </p>    
        </div>
    </div>
    
    <div class="row text-center">
        <a href="/talleres" class="btn btn-primary">Inscribirse</a>

    </div>
</article>
<br>
{% endfor %}

<script src="{% static "js/landing.js" %}"></script>
{% include "include/end.html" %}