{% load static %}
{% include "include/base.html" %}

{% if error %}
<div class="row">&nbsp;</div>
<div class="container">
    <div class="text-center">   
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    </div>
</div>
{% endif %}
     
<div class="row">
    <div class="container">

        <form action="" method="post" class="form-inline formulario">
        {% csrf_token %} 
        <div class="invitacion col-md-6 col-md-push-3">
            <h3 >Ingrese sus datos</h3>
            <div class="contForm1">
                <div class="form-group">
                    <div class="pass icon-at">
                        <input type="email" id="username" name="username" class="form-control" placeholder="Correo Electronico" autofocus>
                    </div>
                </div>
            </div>

            <div class="contForm1">
                <div class="form-group">
                    <div class="pass icon-lock">  
                    <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña">
                  </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" aria-label="Left Align" id="entrar">
                Entrar al sistema
            </button>
            <a href="/" class="btn btn-primary">Cancelar</a>
        </div>
        </form>
    </div>
</div>
       

<div class="row">&nbsp;</div>
    
<script language="javascript"  type="text/javascript">
$(document).ready(function(){
    $('#entrar').on('click',function(e){

        var username = $('#username').val();
        var password = $('#password').val();

        if ((username==false) || (password==false)){

            if (username==false){
               alertify.error('el correo electronico es obligatorio'); 
               e.preventDefault();
            }

            if (password==false){
               alertify.error('la contraseña es obligatorio'); 
               e.preventDefault();
            }
        }    
    });
});
</script>

{% include "include/end.html" %}
