{% load static %}
{% include "include/base_organizador.html" %}

<div class="row">&nbsp;</div>

<form action="" method="post" class="form-inline form">
		{% csrf_token %}
<div class="col-md-6 col-md-push-3">
	<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Información del trabajo</h3></div> 
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item text-left"><strong>Titulo del trabajo:</strong> {{trabajo.titulo}}</li>
                <li class="list-group-item text-left"><strong>Scenario:</strong> {{trabajo.scenario}}</li>
                <li class="list-group-item text-left"><strong>Autor:</strong>  {{trabajo.autor}}</li>
                <li class="list-group-item text-left"><strong>Autores:</strong> {{trabajo.autores}}</li>
                <li class="list-group-item text-left"><strong>Archivo:</strong> {{trabajo.archivo}}</li>
                <li class="list-group-item text-left"><strong>status:</strong>
                	<select name="status"id="status">
                	{% if trabajo.status == 1 %}
                		<option selected value="1"> Enviado</option>
                		<option value="2"> Rechazado</option>
                		<option value="3"> Aceptado con modificacion</option>
                		<option value="4"> Aceptado</option>
                	{% elif trabajo.status == 2 %}
                		<option value="1"> Enviado</option>
                		<option selected value="2"> Rechazado</option>
                		<option value="3"> Aceptado con modificacion</option>
                		<option value="4"> Aceptado</option>
                	{% elif trabajo.status == 3 %}
                		<option value="1"> Enviado</option>
                		<option value="2"> Rechazado</option>
                		<option selected value="3"> Aceptado con modificacion</option>
                		<option value="4"> Aceptado</option>
                	{% elif trabajo.status == 4 %}
                		<option value="1"> Enviado</option>
                		<option value="2"> Rechazado</option>
                		<option value="3"> Aceptado con modificacion</option>
                		<option selected value="4"> Aceptado</option>
                	{% endif %}
                	</select>
                </li>
            </ul>
 			<div class="panel-footer text-center">
            	<input type="hidden" name="id" value="{{trabajo.id}}">
            	<input class="btn btn-primary" type="submit" name="guardar" value="Guardar datos">
       		</div> 
	</div>
</div>
</form>

<div class="row">&nbsp;</div>
{% include "include/end.html" %}