{% load static %}
{% include "include/base_organizador.html" %}

<div class="row">&nbsp;</div>

<form action="" method="post" class="form-inline form">
        {% csrf_token %}
<div class="col-md-6 col-md-push-3">
	<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Datos del Participante</h3></div> 
            <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item text-left"><strong>Nombre y Apellido:</strong> {{ participante.name }} </li>
            <li class="list-group-item text-left"><strong>Correo Electronico:</strong> {{ participante.email }} </li>
            <li class="list-group-item text-left"><strong>Tipo de Participación:</strong> {{ participante.tipo_participante }}</li>
            <li class="list-group-item text-left"><strong>Institución:</strong> {{ participante.institucion }} </li>
            <li class="list-group-item text-left"><strong>Cargo:</strong> {{ participante.cargo }} </li>
            <li class="list-group-item text-left"><strong>Telefono:</strong> {{ participante.tlf_movil }} </li>
            <li class="list-group-item text-left"><strong>Status:</strong> 
                {% if participante.pago %}
                	<select name="status"id="status">
            		{% if participante.status %}
                    	<option selected value="TRUE">Pago Confirmado</option>
                    	<option value="FALSE">Pago por confirmar</option>
                	{% else %}
                        <option value="TRUE">Pago Confirmado</option>
                        <option selected value="FALSE">Pago por confirmar</option>
                	{% endif %}
            		</select>
            	{% else %}
            		No tiene pago
            	{% endif %}

            </li>
        </ul>
        {% if participante.pago %}
        	<div class="panel-footer text-center">
        		<input type="hidden" name="id" value="{{participante.id}}">
            	<input class="btn btn-primary" type="submit" name="guardar" value="Guardar datos">
        	</div> 
        {% else %}
        	<div class="panel-footer text-center">
        		<input type="hidden" name="id" value="{{participante.id}}">
            	<input class="btn btn-primary" type="submit" name="enviar" value="Guardar datos">
        	</div> 
        {% endif %}
    </div>        
</div>
</form>

<div class="row">&nbsp;</div>
{% include "include/end.html" %}