{% load static %}
{% include "include/base_organizador.html" %}

<!--data table -->
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static "datatable/css/jquery.dataTables.css" %}"/>
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="{% static "datatable/js/jquery.js" %}"></script>  
<!-- DataTables.js -->
<script type="text/javascript" charset="utf8" src="{% static "datatable/js/jquery.dataTables.js" %}"></script>
<!--data table -->

<script>
$(document).ready(function(){
    // tabla resposive
    $('#table1').DataTable( {
        responsive: true
    } );
    $('#table2').DataTable( {
        responsive: true
    } );
});
</script>

{% if organizador_participantes %}
<div class="col-md-10 col-md-push-1" id="tabla1">
    <div class="text-center"><h3>Participantes Registrados</h3></div>
    <div class="row">&nbsp;</div>
    <table  id ="table1" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th><strong>Nombre y Apellido</strong></th>
                <th><strong>Correo Electronico</strong></th>
                <th><strong>Status</strong></th>
                <th><strong>Modificar datos</strong></th>
            </tr>
        </thead>
        <tbody>
        {% for participante in participante %}
            <tr>
                <th>{{participante.name}}</th>
                <th>{{participante.email}}</th>
                <th>{% if participante.pago %}
                        {% if participante.status %}
                            Pago Confirmado
                        {% else %}
                            Pago por confirmar
                        {% endif %}
                    {% else %}
                        No tiene pago
                    {% endif %}
                </th>
                <th> 
                    <form action="{% url "modificarparticipantes" %}" method="post" class="form-inline form">
                            {% csrf_token %}
                    <input type="hidden" name="id" value="{{participante.id}}">
                    <input type="submit" name="modificar" class="btn btn-default"value="Modificar">
                    </form>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% elif organizador_trabajos %}

<div class="col-md-10 col-md-push-1" id="tabla2">
    <div class="text-center"><h3>Trabajos Enviados</h3></div>
    <div class="row">&nbsp;</div>
    <table id="table2"class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th><strong>Titulo</strong></th>
                <th><strong>Scenario</strong></th>
                <th><strong>Autor</strong></th>
                <th><strong>Autores</strong></th>
                <th><strong>Status</strong></th>
                <th><strong>Modificar datos</strong></th>
            </tr>
        </thead>
        <tbody>
        {% for trabajo in trabajo %}
            <tr>
                <th>{{trabajo.titulo}}</th>
                <th>{{trabajo.scenario}}</th>
                <th>{{trabajo.autor}}</th>
                <th>{{trabajo.autores}}</th>
                <th>
                    {% if trabajo.status == 1 %}
                        Enviado
                    {% elif trabajo.status == 2 %}
                        Rechazado
                    {% elif trabajo.status == 3 %}
                        Aceptado con modificacion
                    {% elif trabajo.status == 4 %}
                        Aceptado
                    {% endif %}
                </th>
                <th> 
                    <form action="{% url "modificartrabajos" %}" method="post" class="form-inline form">
                            {% csrf_token %}
                    <input type="hidden" name="id" value="{{trabajo.id}}">
                    <input type="submit" name="modificar" class="btn btn-default"value="Modificar">
                    </form>
                </th>
            </tr> 
        {% endfor %}
        </tbody>  
    </table>
</div>

{% endif %}

<div class="row">&nbsp;</div>
{% include "include/end.html" %}