{% load static %}
{% include "include/base_user.html" %}
<div class="row">&nbsp;</div>
<div class="row">
    <section class="container">
        <section class="">
<div class="row">
<section class="container">
{% if not pago %}
<div class="alert alert-warning">
<p><strong class="lead"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;Aviso Importante:</strong>
El pago debe realizarse mediante transferencia o depósito a los siguientes bancos:</p>
<p><strong>Banco del Tesoro</strong>, Cuenta Corriente <strong>#0163-0903-68-9033002818</strong></p>
<p><strong>Banco de Venezuela</strong>, Cuenta Corriente <strong>#0102-0552-21-0000059899</strong></p>
<p>A nombre de: <strong>FUNDACIÓN INSTITUTO DE INGENIERIA</strong> <br/>
RIF: <strong>G200046503</strong></p>
</div>
{% endif %}
    <div class="col-md-6">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Datos del Participante</h3></div> 
            <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item text-left">
                <strong>Nombre y Apellido:</strong> {{ participante.name }}
            </li>
            <li class="list-group-item text-left">
                <strong>Correo Electronico:</strong> {{ participante.email }}
            </li>
            <li class="list-group-item text-left">
                <strong>Telefono:</strong> {{ participante.tlf_movil }} 
            </li>
            <li class="list-group-item text-left">
                <strong>Institución:</strong> {{participante.institucion }}
            </li>
            <li class="list-group-item text-left">
                <strong>Cargo:</strong> {{ participante.cargo }}
            </li>
            <li class="list-group-item text-left">
                <strong>Tipo Participante:</strong> {{ participante.tipo_participante }} 
            </li>
        </ul>
        <div class="panel-footer">{{ msj }}</div>
    </div>
    </div>

<form action="" method="post" class="form-inline form">
    {% csrf_token %} 
{% if not pago %}
<div class="col-md-6">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Datos del Pago</h3></div> 
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item text-left">
            
            </li>
            <li class="list-group-item text-left">
                <strong>Banco:</strong> <select class="form-control" name="banco_id" id="banco_id">
                            <option value="">Seleccione...</option>
                            <option value="1">Banco del Tesoro</option>
                            <option value="2">Banco de Venezuela</option>
                        </select>
            </li>
            <li class="list-group-item text-left"><strong>Tipo de Operación:</strong>
                <label class="radio-inline">
                <input type="radio" name="tipo_operacion" id="tipo_operacion" value="1"> Deposito
                </label>
                <label class="radio-inline">
                <input type="radio" name="tipo_operacion" id="tipo_operacion" value="2">Transferencia 
                </label>
            </li>
            <li class="list-group-item text-left"><strong>Número de transacción:</strong> 
                <input type="text" class="form-control" id="codigo" name="codigo"> 
            </li>
            <li class="list-group-item text-left"><strong>RIF:</strong> 
                <input type="text" class="form-control" id="rif" name="rif" placeholder="J-12345678-9"> Ej: J-12345678-9
            </li>
            <li class="list-group-item text-left">
                <strong>Dirección:</strong>
                <input type="text" class="form-control" id="direccion" name="direccion">
            </li>
        </ul>
        <div class="panel-footer text-center">
            <input class="btn btn-primary" type="submit" id="guardar" name="guardar" value="Enviar datos">
        </div> 
    </div>
        
</div>
{% else %}
<div class="col-md-6">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Datos del Pago</h3></div> 
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item text-left"><strong>Banco:</strong>
                    {% if pago.banco_id == 1 %}
                        Banco del Tesoro
                    {% else %}
                        Banco de Venezuela
                    {% endif %}
                </li>
                <li class="list-group-item text-left"><strong>Tipo de Operacion:</strong>
                    {% if pago.tipo_operacion == 1 %}
                        Deposito
                    {% else %}
                        Transferencia
                    {% endif %}
                </li>
            <li class="list-group-item text-left"><strong>Número de transacción:</strong> {{ pago.codigo }} </li>
            <li class="list-group-item text-left"><strong>RIF:</strong> {{ pago.rif }}</li>
            <li class="list-group-item text-left"><strong>Dirección:</strong> {{ pago.direccion }} </li>
            </ul>
    
            {% if modificar %}
            <div class="panel-footer">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="{% url 'modificar' %}"class="btn btn-primary btn-block" id="modificar" name="modificar">Modificar pago</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="{% url 'cancelar' %}"class="btn btn-primary btn-block" id="cancelar" name="cancelar">Cancelar pago</a>
                </div>
                <div class="row"></div>
            </div>

            {% endif %}
    </div>

    {% if modif %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Datos del pago para modificar</h3></div> 
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item text-left">
                <strong>Banco:</strong> <select class="form-control" name="banco_id" id="banco_id">
                            {% if pago.banco_id == 1 %}
                            <option value="">Seleccione...</option>
                            <option value="1" selected>Banco del Tesoro</option>
                            <option value="2">Banco de Venezuela</option>
                            {% elif pago.banco_id == 2 %}
                            <option value="">Seleccione...</option>
                            <option value="1">Banco del Tesoro</option>
                            <option value="2"selected>Banco de Venezuela</option>
                            {% endif %}
                        </select>
                </li>
                <li class="list-group-item text-left"><strong>Tipo de operación:</strong>
                    {% if pago.tipo_operacion == 1 %}
                    <label class="radio-inline">
                        <input type="radio" name="tipo_operacion" id="tipo_operacion" value="1" checked> Deposito
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="tipo_operacion" id="tipo_operacion" value="2">Transferencia 
                    </label>
                    {%elif pago.tipo_operacion == 2 %}
                    <label class="radio-inline">
                        <input type="radio" name="tipo_operacion" id="tipo_operacion" value="1"> Deposito
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="tipo_operacion" id="tipo_operacion" value="2"checked>Transferencia 
                    </label>
                    {% endif %}
                </li>
                <li class="list-group-item text-left"><strong>Número de transacción:</strong> 
                    <input type="text" class="form-control" id="codigo" name="codigo" value="{{pago.codigo}}" maxlength="10"> 
                </li>
                <li class="list-group-item text-left">
                <strong>Cédula:</strong> 
                <div class="input-group">
                    <div class="input-group-addon"class="form-control">
                        <select name="nacionalidad" id="nacionalidad">
                            {% if pago.nacionalidad == 1%}
                                <option value="1" selected>V</option>
                                <option value="2">E</option>
                            {% elif pago.nacionalidad == 2%}
                                <option value="1">V</option>
                                <option value="2"selected>E</option>
                            {% endif %}
                        </select>
                        <strong>-</strong>
                    </div>
                        <input type="text" class="form-control" id="rif" name="rif" value="{{pago.rif}}"> 
                </div>
            </li>
                <li class="list-group-item text-left"><strong>Dirección:</strong> 
                <textarea type="text" class="form-control" id="direccion" name="direccion">{{pago.direccion}} </textarea>
            </li>
            </ul>
                <div class="panel-footer text-center">
                    <input class="btn btn-primary" type="submit" id="cambiar" name="cambiar" value="Cambiar datos">
                </div>
    </div>
    {% endif %}      
</div>   
{% endif %}
</section>
</div>
        </section>
    </section>
</div>


<div class="row">&nbsp;</div>


<div class="row">&nbsp;</div>

<script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "js/alertify.min.js" %}"/></script>
<script src="{% static "js/jquery.numeric.js" %}"> </script>
<script language="javascript"  type="text/javascript">
$(document).ready(function(){

    $('#guardar').on('click',function(e){
        var expRegRIF = /^([JVEG]{1})-([0-9]{8})-([0-9]{1})$/;//Expresión regular para validar RIF
        
        var banco_id = $('#banco_id').val();
        var tipo_operacion = $('input:radio[name=tipo_operacion]:checked').val();
        var codigo = $('#codigo').val();
        var cedula = $('#cedula').val();
        var direccion = $('#direccion').val();

        if(!expRegRIF.test($('#rif').val())){
            alertify.error('El RIF debe ser del formato: J-12345678-9'); 
            e.preventDefault();
        }
        if (banco_id ==0){
            alertify.error('Debe seleccionar un banco'); 
            e.preventDefault();
        }

        if (tipo_operacion ==undefined){
            alertify.error('Debe seleccionar un tipo de operación'); 
            e.preventDefault();
        }

        if (codigo==false){
            alertify.error('Debe ingresar el número de transacción'); 
            e.preventDefault();
        }

        if (cedula==false){
            alertify.error('Debe ingresar el número de transacción'); 
            e.preventDefault();
        }
        if (direccion==false){
            alertify.error('Debe ingresar la direccion'); 
            e.preventDefault();
        }
         
    });

    $('#cambiar').on('click',function(e){

        var banco_id = $('#banco_id').val();
        var tipo_operacion = $('input:radio[name=tipo_operacion]:checked').val();
        var codigo = $('#codigo').val();
        var cedula = $('#cedula').val();
        var direccion = $('#direccion').val();

        if (banco_id ==0){
            alertify.error('Debe seleccionar un banco'); 
            e.preventDefault();
        }

        if (tipo_operacion ==undefined){
            alertify.error('Debe seleccionar un tipo de operación'); 
            e.preventDefault();
        }

        if (codigo==false){
            alertify.error('Debe ingresar el número de transacción'); 
            e.preventDefault();
        }
         if (cedula==false){
            alertify.error('Debe ingresar el número de transacción'); 
            e.preventDefault();
        }
        if (direccion==false){
            alertify.error('Debe ingresar la direccion'); 
            e.preventDefault();
        }
    });

});

$(document).ready(function(){
    $('#codigo').numeric();
    $('#li_panel').addClass('active');
    
});
</script>
{% include "include/end.html" %}
