{% load static %}
{% include "include/base_user.html" %}

<!--data table -->
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static "datatable/css/jquery.dataTables.css" %}"/>
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="{% static "datatable/js/jquery.js" %}"></script>  
<!-- DataTables.js -->
<script type="text/javascript" charset="utf8" src="{% static "datatable/js/jquery.dataTables.js" %}"></script>
<!--data table -->

<script>
$(document).ready(function(){
    // tabla resposive
    $('#li_taller').addClass('active');
    $('#table1').DataTable( {
        responsive: true
    } );
});
</script>
{% if error %}
<div class="container">
    <div class="text-center"> 
<div class="row">&nbsp;</div>  
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    </div>
</div>
{% endif %}
{% if success %}
<div class="container">
    <div class="text-center"> 
<div class="row">&nbsp;</div>  
        <div class="alert alert-success" role="success">
            {{success}}
        </div>
    </div>
</div>
{% endif %}

<div class="col-md-10 col-md-push-1" id="tabla1">
    <div class="text-center"><h3>Talleres Disponibles</h3></div>
    <div class="row">&nbsp;</div>
    <table  id ="table1" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th><strong>Titulo</strong></th>
                <th><strong>Horario</strong></th>
                <th><strong>Cupos</strong></th>
                <th>---</th>
            </tr>
        </thead>
        <tbody>
            {% for taller in talleres %}
                <tr>
                    <td>{{taller.titulo}}</td>
                    <td>{{taller.horario_dia}} &nbsp; 
                        {%for hora in horario %}
                            {% if hora.id == taller.horario_inicial %}
                                {{hora.hora}} al
                            {% endif %}
                            {% if hora.id == taller.horario_final %}
                                {{hora.hora}}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{taller.cupos}}</td>
                    <td>
                        <form action="{% url "inscribirtalleres" %}" method="post" class="form-inline form">
                        {% csrf_token %}
                        <input type="hidden" name="idtalleres" value="{{taller.id}}">
                        {% if taller.status == 1 %}
                            {% if taller in participante_talleres %}
                                <input type="submit" name="modificar" class="btn btn-default" value="Inscribirme" disabled>
                            {% else %}
                                <input type="submit" name="modificar" class="btn btn-default" value="Inscribirme">
                            {% endif %}
                            
                        {% elif taller.status == 2 %}
                            <input type="submit" name="modificar" class="btn btn-default" value="Inscribirme" disabled>
                        {% endif %}  
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">&nbsp;</div>

<div class="col-md-10 col-md-push-1" id="tabla1">
    <div class="text-center"><h2>Talleres inscritos</h2></div>
    <div class="row">&nbsp;</div>
    <table  id ="table2" class="display table table-responsive table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="info">
                <th>Titulo</th>
                <th>Facilitador</th>
                <th>Horario</th>
                <th>---</th>
            </tr>
        </thead>
        <tbody>
            {% for participante_taller in participante_talleres %}
                <tr>
                    <td class="col-md-4">{{participante_taller.titulo}}</td>
                    <td class="col-md-3">{{participante_taller.facilitador}}</td>
                    <td class="col-md-3">{{participante_taller.horario_dia}} &nbsp; 
                        {% for hora in horario %}
                            {% if hora.id == participante_taller.horario_inicial %}
                                {{hora.hora}} al
                            {% endif %}
                            {% if hora.id == participante_taller.horario_final %}
                                {{hora.hora}}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col-md-2">
                        <a href="{% url 'cancelarTaller' participante_taller.id %}" class="btn btn-info">Cancelar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="row">&nbsp;</div>

{% include "include/end.html" %}