{% load static %}
{% include "include/base_user.html" %}
<div class="container">
<div class="row">&nbsp;</div>
{% if mensaje_estatus %}
<div class="alert alert-success" role="alert">
    {{ mensaje_estatus }}
</div>
{% endif %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Información del trabajo</h3></div>
        <div class="panel-body">
            <form action="" method="post" class="form-horizontal">
            {% csrf_token %} 
                <div class="form-group">
                    <label class="col-md-2 control-label">Titulo del trabajo:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="titulo" name="titulo"> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Líneas temáticas:</label>
                    <div class="col-md-4">
                        <select  id ="scenario" name="scenario"class="form-control">
                            <option value="0">Seleccione una linea temática</option>
                            {% for lista in scenario %}
                            <option>{{lista.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Autor:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="autor" name="autor"> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Co-autor(es):</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="autores" name="autores"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Archivo:</label>
                    <div class="col-sm-10">
                        <input type="file" id="file" name="archivo">
                    </div>
                </div>
                <div class="text-center col-md-12">
                    <input class="btn btn-primary btn-lg" type="submit" id="enviar" name="enviar" value="Enviar Trabajo">
                    <a class="btn btn-success btn-lg" href="http://www.cpdi.fii.gob.ve/files/congresogeomatica/formato_trabajos.doc" target="_blank">Descárgar formato <span class="glyphicon glyphicon-download"></span></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% if trabajos %}
<div class="container">
<h2 class="text-center">Información de trabajos enviados</h2>
{% for trabajo in trabajos %}
    <div class="panel panel-default">
            <!-- Default panel contents -->
        <div class="panel-heading"><h3>{{trabajo.titulo}}</h3></div> 
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item text-left"><strong>Tema:</strong> {{trabajo.scenario}}</li>
                <li class="list-group-item text-left"><strong>Autor:</strong>  {{trabajo.autor}}</li>
                <li class="list-group-item text-left"><strong>Autores:</strong> {{trabajo.autores}}</li>
                <li class="list-group-item text-left"><strong>Archivo:</strong> {{trabajo.archivo}}</li>
                <li class="list-group-item text-left"><strong>Status:</strong> {{msj_trabajo}}</li>
            </ul>
            <div class="panel-footer"><a href="{% url 'cancelarTrabajo' trabajo.id %}" class="btn btn-primary">Cancelar Trabajo</a></div>
    </div>
{% endfor %}
</div>
{% endif %}

<div class="row">&nbsp;</div>
<script language="javascript"  type="text/javascript">
$(document).ready(function(){
    $('#li_papers').addClass('active');
    $('#enviar').on('click',function(e){
        var titulo = $('#titulo').val();
        var autor = $('#autor').val();
        var scenario = $('#scenario').val();
        var autores = $('#autores').val();
        var file = $('input[type="file"]').val();
        var exts = ['doc','odt','pdf']; // extesiones valida

        if (titulo == false){
            alertify.error('Debe ingresar el titulo del trabajo'); 
            e.preventDefault();
        }  
        if (scenario == 0){
            alertify.error('Debe ingresar un tipo de scenario'); 
            e.preventDefault();
        }
        if (autor == false){
            alertify.error('Debe ingresar el nombre de autor'); 
            e.preventDefault();
        }

        // comprobar si inserto un archivo
        if (file) {
            // nombre de archivo dividido en punto 
            var get_ext = file.split('.');
            // nombres inversa para comprobar la extensión 
            get_ext = get_ext.reverse();
            // cheque tipo de archivo es válido como los dados en array 'exts' 
            if ( $.inArray ( get_ext[0].toLowerCase(), exts ) == -1 ){
                alertify.error('Debe ingresar un archivo con extension .doc, .odt, .pdf'); 
                e.preventDefault();
            }    
        }else{
            alertify.error('Debe ingresar un archivo'); 
            e.preventDefault();
        }
    });

});
</script>
{% include "include/end.html" %}